#*
%*
.mc-lists.el
.python-environments/
Matt.el
ac-comphist.dat
adafruit-wisdom.cache
auto-save-list/
backups/
bookmarks
custom.el
elpa/
eshell/
gotools/
network-security.data
projectile-bookmarks.eld
projectile.cache
request/
secrets.el
session.*
speed-type/
tramp
url/
var/